body {
background-color: rgba(79, 54, 90, 1);
color: #fff; 
margin: 0; 
display: flex;
flex-direction: column;
min-height: 100vh; 
}

.flex-container { /*Til text*/
position: relative;
top: 590px;
font-size: 60px;
display: flex;
justify-content: bottom; 
height: 800px; 
border: 8px solid rgba(0, 0, 0, 0.5); 
border-radius: 8px;
}

.Overskrift {
position: relative;
top: 820px;
left: 20px;
font-size: 60px;
}


header, main, footer {
padding: 20px;
}

header {
text-align: center;
}

main {
display: flex;
flex-wrap: wrap;
gap: 20px;
border-radius: 8px;
}

section {
background-color: rgba(0, 0, 0, 0.5);
padding: 20px;
flex: 1;
border-radius: 8px;
}


h2 {
margin-top: 0;
}

footer {
font-size: 20px;
text-align: left;
margin-top: auto; 
}

/*button*/
#scroll-btns {
position: fixed;
bottom: 20px;
right: 20px;
z-index: 9999;
display: flex;
flex-direction: column;
align-items: flex-end; 
border-radius: 8px;
}

.scroll-btn {
background-color: rgba(0, 0, 0, 0.5);
color: white;
border: none;
padding: 10px 20px;
cursor: pointer;
margin-top: 5px; 
border-radius: 8px;
}

.scroll-btn:first-child {
margin-top: 0;
}

.scroll-btn:hover {
background-color: rgba(0, 0, 0, 0.5);
}

